/* general */

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background-color: rgb(220, 206, 165);
}

h1{
    color: rgb(0, 0, 0);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    text-align: center;
    font-size: 40px;
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
    padding:5px;
}

p, label{
    font-family: "Edu NSW ACT Foundation", cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

h2{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

main {
    background-color: rgb(220, 206, 165);
    min-height: 100vh;
}

/* header */

header img{
    width: 150px;
    height: 80px;
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
}

header{
    position:sticky;
    top:0px;
    background-color: rgb(100, 0, 0);
    z-index: 4;
}

.menu-buttom{
    border: none;
}

.menu-buttom:focus{
    color: rgb(220, 206, 165);
}

.navbar-nav .nav-link.active{
    color: rgb(238, 204, 65);
} 

.style-menu-ul li a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.style-menu ul li a :hover{
    color:black;
}

.style-menu {
    flex-grow: 0;
}

.menu-burger{
    background-image: url(./../assets/img/menu-burger.svg);
}

.style-menu-ul{
    text-align: end;
}

/* main index */

.grid-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 10px;
}

.position-img{
    border-radius: 20px;
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
    overflow: hidden;
    object-fit: fill;
}

.grid-img .position-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.schedule{
    background-color: rgb(100, 0, 0);
}

.schedule h2{
    color: antiquewhite;
    margin:0;
}

.schedule p{
    color: antiquewhite;
    margin:0;
}

/* main history */

.flex-iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.flex-iframe iframe{
    border-radius: 20px;
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
}

#carouselExampleCaptions{
    width: 70%;
    height: 50%;
    border-radius: 20px;
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
    object-fit: cover;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.h5-carousel{
    color: rgb(163, 23, 23);
}

/* main menu */

.bg-menu{
    background-image: url(./../assets/img/fondo-madera.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;

}

.menu-restaurant div{
    background-color: rgb(220, 206, 165);
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
    row-gap: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.menu-card p,h2{
    margin:0;
}

/* style form (for main contact and main book-board)*/

.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div .buttom input{
    color: rgb(0, 0, 0);
    background-color: rgb(220, 206, 165);
    font-family: "Tilt Neon", sans-serif;
    text-align: center;
    font-size: 20px;
    padding:7px;
    margin: 9px;
}

.flex-form form div input:focus{
    border-color: rgb(163, 23, 23);
    background-color: rgb(238, 204, 65);
    outline: rgb(163, 23, 23);
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
}

.flex-form form div select:focus{
    border-color: rgb(163, 23, 23);
    background-color: rgb(238, 204, 65);
    outline: rgb(163, 23, 23);
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
}

.flex-form form div textarea:focus{
    border-color: rgb(163, 23, 23);
    background-color: rgb(238, 204, 65);
    outline: rgb(163, 23, 23);
    box-shadow: -13px 13px 9px -5px rgba(0,0,0,0.84);
}

.flex-form form div input:hover{
    border-color: rgb(163, 23, 23);
    outline: rgb(163, 23, 23);
}

.flex-form form div select:hover{
    border-color: rgb(163, 23, 23);
    outline: rgb(163, 23, 23);
}

.flex-form form div textarea:hover{
    border-color: rgb(163, 23, 23);
    outline: rgb(163, 23, 23);
}

/* main faqs */

.accordion-item{
    background-color: rgb(220, 206, 165);
}

.accordion-button {
    background-color: rgb(220, 206, 165);
}

.accordion-body{
    font-family: "Edu NSW ACT Foundation", cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.style-faqs {
    padding: 10px;
}

.accordion-button:not(.collapsed) {
    color: rgb(100, 0, 0);
    background-color: rgb(220, 206, 165);
    box-shadow:0px 0px 13px -1px rgb(100, 0, 0);
}

.accordion-button.collapsed {
    box-shadow: none;
}

div .accordion-item{
    border-color: rgb(100, 0, 0);
}

/* footer */

.flex-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer{
    background-color: rgb(100, 0, 0);
    top:0px;
    z-index: 1;
}

.email{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.flex-footer div{
    padding-top: 20px;
}

.instagram img{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.maps img{
    width: 65px;
    margin-bottom: 10px;
}

.phone{
    font-size: 16px;
    color: aliceblue;

}

/* Media queries */

@media (max-width:1024px){
    .grid-img{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .style-menu{
        position: absolute;
        width: 100%;
        top:85px;
        background-color: rgb(100, 0, 0);
        width: 150px;
        position: fixed;
        right: 15px;
        border: 2px solid floralwhite;
    }
    .menu-buttom{
        margin-right: 10px;
    }
}

@media (max-width:768px){
    .grid-img{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        object-fit: none;
        height: 50%;
    }
}



